{% extends "base.html" %}
{% block scripts %}
<script xmlns="http://www.w3.org/1999/html">

</script>

{% endblock %}

{% block content %}
<div class="text-center">
  <img src="../static/images/tsp.png" class="tsp_about_pic" alt="pic">
</div>

<p>
    // Информация о задаче коммивояжера
</p>
<p>
    // Описание методов решения
</p>

<p>
    // Реализация решения методом полного перебора
</p>
<p>
    Попробовать можно
    <a href="/tsp_try">
        <mark>тут</mark>
    </a>
</p>


{% endblock %}

